	/*	html and body
	----------------------------------------------------------------------*/

	html {}

		body {
			text-align: center;
		}

			.wrapper {
				margin:     0 auto;
				position:   relative;
				text-align: left;
				width:      960px;
			}



	/*	header
	----------------------------------------------------------------------*/

	header {}



	/*	page layout
	----------------------------------------------------------------------*/

	#page {}

		#content {}

			#content:after {
				content: '\00A0'; /* &nbsp; */
			}

		#sidebar {}



	/*	page elements
	----------------------------------------------------------------------*/

	div.alert {
		background: 10px 11px no-repeat;
		border:     1px solid;
		clear:      both;
		color:      #525252;
		margin:     0 auto 20px;
		padding:    10px 10px 10px 36px;
		-moz-box-shadow:    0 0 5px #999;
		-webkit-box-shadow: 0 0 5px #999;
		box-shadow: 0 0 5px #999;
	}

		div.done    { background-color: #e9fad0; background-image: url('/images/icons/tick.png');  border-color: #aee756; }
		div.error   { background-color: #ffe3df; background-image: url('/images/icons/cross.png'); border-color: #f08a73; }
		div.warning { background-color: #ffefb5; background-image: url('/images/icons/error.png'); border-color: #ffca0b; }

		.alert h2 {
			font-size:   1.6em;
			font-weight: bold;
			line-height: 1.1;
			margin:      0 0 .7em;
		}

		.alert p {
			margin-bottom: .5em;
		}

		.alert ul {
			margin:  10px 0 0;
			padding: 0;
		}



	/*	footer
	----------------------------------------------------------------------*/

	footer {}
